{% extends "base.html" %}  
{% block body %}  

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="'navbar-nav">
      <button > <a class="nav-item nav-link" href="{{url_for('home')}}">Home</a> </button>
      <button> <a class="nav-item nav-link" href="{{url_for('add_task')}}">Add Task</a> </button>
      <button> <a class="nav-item nav-link" href="{{url_for('list_task')}}">List of Task</a> </button>
      <button> <a class="nav-item nav-link" href="{{url_for('del_task')}}">Delete Task</a> </button>
   </div>
 </nav> -->

    <div class="jumbotron">
        <h1>You are logged in!</h1>
    </div>


{% endblock %}  